<footer id="colophon" class="mt-5">
    <div class="container">
        <div class="text-center">
            <h2>{{ common.comparisons.title }}</h2>
        </div>
        <p>
            {{#common.comparisons}}
            <a href="/{{seoFirstItemName}}-versus-{{seoSecondItemName}}" role="button" class="btn btn-light mt-1"
               title="{{firstItemName}} versus {{secondItemName}}">{{firstItemName}} versus {{secondItemName}}</a>
            {{/common.comparisons}}
            <a href="/comparisons" role="button" class="btn btn-light mt-1"
               title="More comparisons">more...</a>
        </p>
        <hr/>
        <div class="row">
            <div class="site-info col-sm-12">
                <p class="text-muted"> {{ common.copyright }}
                    <a href="{{ common.facebook.page }}" class="float-right" title="Contact us on facebook">Contact
                        us!</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="/site.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109241604-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-109241604-1');
</script>
</body>
</html>