<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{common.links.home}}">{{common.links.size.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{common.links.home}}">{{common.links.home.title}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{common.links.all.items}}">{{common.links.all.items.title}}</a>
                </li>
            </ul>
            <form id="search-form" class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input id="search-items" list="search-items-suggestions"
                       name="query" class="form-control mr-sm-2"
                       autocomplete="off" type="text" required="required"
                       placeholder="{{common.search.placeholder}}" aria-label="Search" value="{{#query}}{{.}}{{/query}}"/>
                <datalist id="search-items-suggestions"></datalist>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>